*{
   
    font-family: 'Prompt', sans-serif;
}



/*header*/
#navbarNav .nav-item .nav-link{
    padding: 20px;
    text-align: center;
    color: rgb(238, 245, 179);

    cursor: pointer;
}
#navbarNav .nav-item .nav-link:hover{
    border-bottom: 1px solid palegoldenrod ;
  
}

/*banner*/

#slider {
    width:  auto;
    height: auto;
    background-image: url('/public/img/kisspng-white-black-font-png-image-snowflakes-falling-5ab18a34022ee6.629472481521584692009.png'), url('/public/img/kisspng-white-black-font-png-image-snowflakes-falling-5ab18a34022ee6.629472481521584692009.png');
    background-size: cover;
    background-color: #212529   ;
    background-repeat: repeat-x, repeat-x;

    animation: bird 60s ease infinite ;
}
@keyframes bird{
    0%{
        background-position: 1 1 , 0 0;
    }
    
    50%{
        background-position: 50%,50%;
    }
    100%{
        background-position:  100%, 100% ;
    }
}
#slider h1{
    margin-top: 20vh;

    color: rgb(251, 255, 0);
    font-family: 'Anton', sans-serif;
    font-size: 6vh;
    
}
#slider .btn.btn-primary,#slider .btn.btn-dark{
    
    text-transform: uppercase;
    color: #292921;
    margin-bottom: 5vh;
    padding: 20px;
    
    background: rgb(236, 243, 194);

    border:0;
    transition: 300ms;
}
#slider .btn.btn-primary:hover,#slider .btn.btn-dark:hover{
    color: bisque;
    background: #212529;
    padding-right: 40px;
}

/*descriptions*/
#description  {
    margin: 10px;
    background: rgb(253, 231, 205);
    border: 0;
    border-radius: 10px;

    transition: 1s;
}

#description .row{
    padding: 20px;
    align-items: center;
}
#description .row h2{
    font-weight: 600;
}
#description .row p{
    letter-spacing: 2px;
}

#description-cap-P {
    padding: 30px;
    border: 3px solid #212529;
    margin: 8vh;
    transition: 1s;
}
#description-cap-P h2{
    font-family: 'Anton', sans-serif;
    text-align: end;
    justify-content: center;
    text-transform: uppercase;
    border-right:  2px solid #212529;
    padding: 16px;
}
#description-cap-P ul{
    list-style: none;
    font-size: 1.2em;
}

#descriptionTI{
    margin: 6vh;
    background: rgb(255, 243, 230);
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
    transition: 1s;
}
#descriptionTI h2{
    margin-top: 10vh;
    
}
#descriptionTI p{
    letter-spacing: 2px;
}

#description-cap-TI{
    background: #fffff8;
    color:rgb(44, 44, 44);
    padding: 5vh auto;
    transition: 1s;
   
}
#description-cap-TI h3{
    margin: 2vh;
    letter-spacing: 5px;
    text-transform: uppercase;
    color:rgba(48, 48, 48, 0.473)
    
}
#description-cap-TI ul{
    font-family: 'Prompt', sans-serif;
}
#description-cap-TI li{
    list-style: none;
    margin: 3vh;
    letter-spacing: 3px;
    font-family: 'Prompt', sans-serif; 
    font-size: 1.2em;   
}
#description-hobb  {
    margin: 5vh;
    display:flex;
    justify-content: center;
    
    
}
#description-hobb .col {
   justify-content: center;
    display:flex;
    
    
}
#description-hobb h2{
    margin-bottom: 20px;
    font-family: 'Amatic SC', cursive;
    font-size: 4vh;
    
    color:rgb(252, 193, 0);
    text-shadow: 1px 1px 1px black;
    text-align: center;
}
#description-hobb .col img{
    margin-left: 10px;
    border:3px solid black;
    border-radius: 50%;
    width: 180px;
   
}
#description:hover,#description-cap-P:hover,#descriptionTI:hover,#description-cap-TI:hover{
   
    font-size: 1.08em;
}


#projetos{
    padding:5vh;
    background: #212529;
    margin: 2vh;
    border: 3px solid gold;
    border-radius: 10px;
}
#projetos h2{
    color: yellow;
    text-align: center;
    font-family: 'Anton', sans-serif;
    letter-spacing: 5px;
    font-size: 2.2em;
    margin: 3vh;
    text-shadow: 2px 2px 5px rgb(194, 193, 193);
}
#box{
    overflow: hidden;
    position: relative;
    width: 600px;
    height: 500px;
    margin: auto;
}
.box-imagem0 img{
    position:absolute;
    width: 600px;
    height: 500px;
    animation: animacao;
    animation-duration:1s ;

}
.box-imagem1 img{
    position:absolute;
    width: 600px;
    height: 500px;
    animation: animacao;
    animation-duration:1s ;

}
.box-imagem2 img{
    position:absolute;
    width: 600px;
    height: 500px;
    animation: animacao;
    animation-duration:1s ;

}
@keyframes animacao{

    from{transform: translate3d(-50px,00);}
    to{transform: translate3d(0px,00);}
}


/*mobile*/
@media (max-width: 600px){
    #navbarNav{
        padding-bottom:10vh;
    }
    #description p {
        display: flex !important;
        align-items: center;
    }
   #description img{
       border: 1px solid;
       border-radius: 50%;
   }
   #description-cap-P{
       margin: 3vh
   }
  
   #description-cap-TI{
       padding: 20px;
   }

   #description-hobb img{
       overflow-x: scroll;
       border: 1px solid;
   }
   #box{
    overflow-x:scroll;
    position: relative;
    width: 100%;
    height: 300px;
    margin: auto;

    }
    .box-imagem0 img{
        position:absolute;
        width: 100%;
        height: 300px;
        animation: animacao;
        animation-duration:1s ;

    }
    .box-imagem1 img{
        position:absolute;
        width: 100%;
        height: 300px;
        animation: animacao;
        animation-duration:1s ;

    }
    .box-imagem2 img{
        position:absolute;
        width: 100%;
        height: 300px;
        animation: animacao;
        animation-duration:1s ;

    }
}
.backTopbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: rgb(251, 255, 0);
    border-radius: 50%;
    text-decoration: none;
    color: #292921;
}
.backTopbtn::after {
    font-size: 32px;
    font-weight: bold;
    color: rgb(255, 240, 240);
    transition: margin-top 250ms;
}
.backTopbtn:hover::after {
    margin-top:-8px;
}


